*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*section1*/
.section1{
    height: 100vh;
    background-image: url(pics/background.jpg);
    border: #fff solid 10px;
}
header{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border: 2px double white;
    background-image: url(pics/GALAXY.gif);
    border-radius: 0 0 50px 50px;
}
.logo{
    margin-left: 30px;
    width: 100px;
    height: auto; 
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    border: 10px solid white;
    border-radius: 15px;
    width: 1000px;
    height: 400px;
    position: relative;
}
.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    margin-right: 20px;
}
.details{
    color: white;
}
.details h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 0; 
}
.details h3 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 5px;
    text-transform: uppercase;
    border-top: 2px solid white;
    padding-top: 5px;
}

/*section2*/
.section2{
    height: 100vh;
    width: 100%;
    background-image: url(pics/bg1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
}
.gallery{
    width: 90%;
    height: 65%;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    height: 100%;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius:0 0 20px 20px;
    background-color: black;
}
.img{
    height: 50%;
    width: 100%;
}
.desc{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}
p{
    text-align: center;
}
img{
    height: 100%;
    width: 100%;
}
.Hobbies{
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    color: white;
    font-size: larger;
    font-style: inherit;
    height: 10vh;
}

/*section3*/
.section3{
    height: 100vh;
    background-image: url(pics/stats\ bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: white solid 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.skills-container {
    height: auto;
    width: 900px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}
.skills-container h2 {
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}
.skill {
    margin-bottom: 15px;
    text-align: left;
}
.skill-label {
    margin-bottom: 5px;
    font-weight: bold;
}
.progress-bar {
    position: relative;
    background-color: grey;
    border-radius: 20px;
    height: 20px;
}
.progress-bar-inner {
    height: 100%;
    border-radius: 20px;
    background-color: #FFD700;
}
.cinematography .progress-bar-inner {
    width: 85%; 
}
.coding .progress-bar-inner {
    width: 80%;
}
.photography .progress-bar-inner {
    width: 75%;
}
.msoffice .progress-bar-inner {
    width: 95%;
}

/*section4*/
.section4{
    height: 100vh;
    border: 10px solid black;
    background-image: url(pics/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    
}

.gallery-container h1{
    color: black;
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-item {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}


/*section5*/
.section5{
    height: 100vh;
    background-image: url(pics/game-section-bg.jpg);
    border: white 10px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-container h1 {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    width: 100%;
    height: auto;
}


/*section6*/
.section6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(pics/bg-clients.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: #000 solid 10px;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    background-image: url(pics/GALAXY.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: #fff solid 2px;
    margin-top:90px;
    color: #fff;
    padding: 100px;
    border-radius: 90px;
    width: 700px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 30px;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
button {
    margin-top: 15px;
    padding: 10px;
    background-color: #0044cc;
    color: #fff;
    border: none;
    border-radius: 5px;
}
footer {
    background-image: url(pics/GALAXY.gif);
    border: #fff solid 2px;
    border-radius: 50px 50px 0 0;
    padding: 20px;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

footer .social-media img {
    margin-left: 30px;
    width: 50px;
    height: auto;
    display: block;
    gap: 10px;
}

footer .contact-info {
    margin-top: 20px;
    width: 100px;
    margin-right: 100px;
    text-align: right;
}
.contact-info{
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-info a{
    color: white;
    text-decoration: none;
}
.social-media{
    display: flex;
    gap: 15px;
}