*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}


/*section1*/
.section1{
    height: 100vh;
    padding: 50px;
    background-image: url(pics/SECTION\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
}
header {
    position: absolute;
    top: 0;
    height: 130px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white solid 4px;
}
header .logo {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 35px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    position: relative;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #50b0ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.info {
    color: white;
    text-align: left;
    position: absolute;
    left: 40px;
    top: 490px;
}
.info h1 {
    font-size: 90px;
}
.info p {
    font-size: 30px;
}
.image {
    width:1000px;
    height:auto;
    position: absolute;
    right: 0%;
    bottom: 0%;
}
audio {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/*section2*/
.section2{
    height: 100vh;
    width: 100%;
    padding: 50px;
    background-image: url(pics/SECTION\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
}
.gallery{
    width: 90%;
    height: 65%;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    height: 100%;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius:0 0 20px 20px;
    background-color: #50b0ff;
}
.item1{
    height: 100%;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius:0 0 20px 20px;
    background-color: #3699eb;
}
.img{
    height: 50%;
    width: 100%;
}
.desc{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}
p{
    text-align: center;
}
img{
    height: 100%;
    width: 100%;
}
.Hobbies{
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    color: white;
    font-size: larger;
    font-style: inherit;
    height: 10vh;
}



/*section3*/
.section3{
    height: 100vh;
    background-image: url(pics/SECTION\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.skills-container {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: auto;
    width: 900px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}
.skills-container h2 {
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}
.skill {
    margin-bottom: 15px;
    text-align: left;
}
.skill-label {
    margin-bottom: 5px;
    font-weight: bold;
}
.progress-bar {
    position: relative;
    background-color: grey;
    border-radius: 20px;
    height: 20px;
}
.progress-bar-inner {
    height: 100%;
    border-radius: 20px;
    background-color: #FFD700;
}
.cinematography .progress-bar-inner {
    width: 85%; 
}
.coding .progress-bar-inner {
    width: 80%;
}
.photography .progress-bar-inner {
    width: 75%;
}
.msoffice .progress-bar-inner {
    width: 95%;
}

/*section4*/
.section4{
    height: 100vh;
    background-image: url(pics/SECTION.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: #ffffff solid 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-container {
    background-color: #ffffff;
    border: #000 solid 5px;
    padding: 50px;
    border-radius: 80px;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    
}

.gallery-container h1{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-item {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}


/*section5*/
.section5{
    height: 100vh;
    background-image: url(pics/SECTION.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.video-container{
    position: absolute;
    margin-bottom: 180px;
}
.video-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video{
    width: 100;
    height: auto;
}
footer {
    background-color: #50b0ff;
    border-top: #fff solid 2px;
    padding: 2px;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 80px 80px 0 0;
}

footer .social-media img {
    margin-left: 30px;
    width: 50px;
    height: auto;
    display: block;
    gap: 10px;
}

footer .contact-info {
    margin-top: 20px;
    width: 100px;
    margin-right: 100px;
    text-align: right;
}
.contact-info{
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-info a{
    color: white;
    text-decoration: none;
}
.social-media{
    display: flex;
    gap: 15px;
}
form {
    display: flex;
    align-items: center;
}

form input[type="email"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

form button {
    padding: 8px 12px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #9b9a99;
}